.fonte1 {
    font-family: fantasy, serif;
}

input {
    font-size: 17px;
}

.row {
    margin-top: 3%;
}

.div-center {
    margin-top: 10vh;
    margin-left: 10vh;
    max-width: 350px;
}

.navbar {
    opacity: 0.9;
}

.badge {
    font-size: 18px;
    margin-bottom: 10px;
}

.btn-danger {
    background-color: #dc3545;
    border-color: white;
    border-radius: 12px;
    border-style: outset;
}

.btn-danger:focus,
.btn-danger.focus {
    background-color: #dc3545;
    border-color: white;
    border-radius: 12px;
    border-style: outset;
}

.btn-nav {
    padding-left: 15px;
}

.b {
    background-image: url("/static/img.png");
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.l {
    background-color: rgb(39, 37, 37);
    color: white;
    font-weight: bold;
    opacity: 1;
    width: 25%;
    min-width: 135px;
}

.hello {
    color: white;
    font-weight: bold;
    opacity: 1;
    min-width: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-left: 15%;
}

h1,
h2,
h3,
h4,
h5 {
    text-align: center;
}

.img-index {
    position: absolute;
    width: 80%;
    height: 80%;
    padding-left: 20%;
}

.img-index:after {
    content: "";
    display: block;
    background-image: url("/static/img.png");
    width: 100%;
    height: 100%;
    opacity: 0.55;
    z-index: -1;
    background-repeat: no-repeat;
}

.collapse-small {
    margin: 3%;
    margin-top: 10%;
    background-color: white;
    border-radius: 12px;
}

.navbar-brand {
    color: white !important;
}

.noob {
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-right-width: 0px;
    border-left-width: 0px;
    padding-right: 7px;
    font-weight: bold;
}

.nav-item {
    background-color: white;
    border-radius: 12px;
}

.nav-link {
    font-size: 16px;
    border: 2px darkgray solid;
    border-radius: 12px;
}

.login {
    opacity: 0.9;
    /*width: 30%;
    height: 25%;*/

    background-color: gray;
    border-radius: 10px;

}

.textWhite {
    color: white;
}

.pull-right {
    float: right;
}

@media screen and (min-width: 481px) and (max-width: 2000px) {
    .hello {
        margin-left: -20%;
    }

    .div-nav-big {
        display: contents;
    }

    .div-nav-small {
        display: none;
    }

    .g-recaptcha {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 480px) {
    .div-center {
        margin-left: 0;
    }

    .login {
        margin-left: 0;
        border: 0;
    }

    .navbar-brand {
        margin-left: 10vh;
    }

    .div-nav-big {
        display: none;
    }

    .div-nav-small {
        display: block;
        text-align: center;
        margin: auto;
    }

    .hello {
        padding-left: 0%;
    }

    .g-recaptcha {
        transform: scale(0.73);
        transform-origin: 0 0;
    }

    .textWhite {
        color: white;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 280px) {
    .textWhite {
        font-size: 0.65rem;
    }
}

.sheet-extern {
    border-style: dashed;
    border-width: 8px;
    background-color: rgba(255, 255, 255, 0.9);
}

.sheet-title {
    background-color: rgba(0, 0, 0, 0.7);
}

.sheet-h2 {
    text-shadow: none;
}