<ul class="nav justify-content-end">
    <div style="padding-right: 10px">
        <li class="nav-item">
            <a id="homeNav" class="nav-link btn-sm btn-basic" href="/">Home</a>
        </li>
    </div>
    <div style="padding-right: 10px">
        <li class="nav-item">
            <a id="secondNav" class="nav-link btn-sm btn-basic" href="/character">Personagem</a>
        </li>
    </div>
    <div>
        <li class="nav-item">
            <a id="thirdNav" class="nav-link btn-sm btn-basic" href="/createaccount">Criar Conta</a>
        </li>
    </div>
</ul>